@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Vetrino Regular";
  box-sizing: border-box;
}

@font-face {
  font-family: "Vetrino Regular";
  src: url("../fonts/vetrino.ttf");
}
@font-face {
  font-family: "Felidae";
  src: url("../fonts/felidae.ttf");
}
:root {
  --dataSize: 60px;
}

.container {
  width: 390px;
  margin: 0 auto;
  border: 1px solid transparent;
  overflow: hidden;
  background: url("../img/background.png");
  background-size: 80%;
}

.noimg {
  background-image: none;
}

.header__block-img {
  text-align: center;
  margin-top: 64px;
}

.main__block {
  color: #ffffff;
  margin-top: -85px;
}
.main__block .container {
  background-color: #847070;
}
.main__block-name {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 109px;
}
.main__block-title {
  color: #f0f6fa;
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 10px;
}
.main__block-date {
  color: #f0f6fa;
  font-size: 18px;
}
.main__block-border {
  margin-right: 4px;
  border-right: 1px solid white;
}
.main__block-descr {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__block-descr_title {
  font-size: 18px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
}
.main__block-descr_subdescr {
  width: 240px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
.main__block-month {
  margin-top: 64px;
}
.main__block-month_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__block-month_name {
  font-size: 27px;
  line-height: 29px;
  color: #f0f6fa;
}
.main__block-month_date {
  margin-top: 5px;
  font-size: 16px;
  line-height: 17px;
  color: #f0f6fa;
}
.main__block-month_calendar {
  margin-top: 16px;
  margin-bottom: 50px;
  padding: 0 60px;
}
.main__block-month_dates {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
.main__block-month_content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  color: #f0f6fa;
}
.main__block-clock p {
  margin-top: 49px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.main__block-timer {
  max-width: 297px;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}
.main__block-timer_item {
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__block-timer_value {
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
}
.main__block-timer_border {
  border-right: 1px solid white;
  margin: 0 0 20px 0;
}
.main__block-timer_text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
.main__block .arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
}
.main__block .arrow-down span {
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  margin: 10px;
  animation: arrow-down 2s infinite;
}
.main__block .arrow-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.main__block .arrow-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.main__block .week {
  font-weight: 600;
}
.main__block .love {
  position: relative;
  z-index: 1;
}
.main__block .love .imgLove {
  z-index: -1;
  position: absolute;
  animation: imgLove 1s infinite ease-in-out;
}
@keyframes imgLove {
  0% {
    transform: scale(1);
    transform-origin: center center;
    transition-timing-function: ease-out;
  }
  10% {
    transform: scale(0.9);
    transition-timing-function: ease-in;
  }
  17% {
    transform: scale(0.95);
    transition-timing-function: ease-out;
  }
  33% {
    transform: scale(0.85);
    transition-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    transition-timing-function: ease-out;
  }
}

.info__block {
  color: #847070;
}
.info__block-wrapper_title {
  margin-top: 54px;
  font-size: 18px;
  text-align: center;
}
.info__block-wrapper_place {
  margin-top: 31px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__block-wrapper_time {
  font-size: 23px;
  line-height: 19px;
  margin-right: 24px;
}
.info__block-wrapper_subtime {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 10px;
  width: 178px;
}

.dresscode__block {
  color: #847070;
}
.dresscode__block-title {
  margin-top: 42px;
  font-size: 18px;
  text-align: center;
}
.dresscode__block-descr {
  margin: 0 auto;
  margin-top: 15px;
  width: 288px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 16px;
  text-align: center;
}
.dresscode__block-img {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dresscode__block .photo-margin {
  margin-top: 56px;
}

.plan__block {
  color: #847070;
  padding: 0 36px;
}
.plan__block-title {
  margin-top: 43px;
  font-size: 23px;
  text-align: center;
}
.plan__block-wrapper {
  display: flex;
  justify-content: center;
  margin-left: -35px;
}
.plan__block-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.plan__block-lists {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.plan__block-lists li {
  font-family: "Felidae", sans-serif;
  font-weight: 400;
  margin-right: 28px;
  font-size: 12px;
  line-height: 19px;
}
.plan__block-lists p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 15px;
  font-size: 12px;
}

.details__block {
  color: #847070;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
.details__block-title {
  margin-top: 68px;
  font-family: "Felidae", sans-serif;
  font-weight: 400;
  font-size: 23px;
}
.details__block-descr {
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  width: 257px;
}
.details__block-number {
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.details__block-name {
  margin: 0 auto;
  margin-top: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
}