@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Vetrino Regular";
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Vetrino Regular";
  src: url("../fonts/vetrino.ttf");
}
@font-face {
  font-family: "Felidae";
  src: url("../fonts/felidae.ttf");
}
@font-face {
  font-family: "Alana Pro Rus";
  src: url("../fonts/alanaprorus.otf");
}
:root {
  --dataSize: 60px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 0 15px;
  background: url("../img/background.png");
  background-size: 80%;
}

.noimg {
  background-image: none;
}

.main__block-fullscreen {
  background: url("../img/background.png");
  background-size: 80%;
}

.header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__block-img {
  text-align: center;
}

.fullscreen__block {
  text-align: center;
  margin-top: -85px;
  min-height: 100%;
  min-width: 420px;
  color: #f0f6fa;
  background-color: #847070;
}
.fullscreen__block .arrow-down {
  display: flex;
  justify-content: center;
}
.fullscreen__block .arrow-down span {
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  animation: arrow-down 2s infinite;
}
.fullscreen__block .arrow-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.fullscreen__block .arrow-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.main__block {
  color: #ffffff;
  margin-top: -1px;
  width: 420px;
}
.main__block .container {
  background-color: #847070;
}
.main__block-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__block-name h1 {
  margin-top: 109px;
}
.main__block-title {
  color: #f0f6fa;
  font-size: 35px;
  font-weight: 400;
  line-height: 37px;
  margin-bottom: 10px;
}
.main__block-date {
  color: #f0f6fa;
  font-size: 19px;
}
.main__block-border {
  margin-right: 4px;
  border-right: 1px solid white;
}
.main__block-descr {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__block-descr_title {
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
.main__block-descr_subdescr {
  width: 308px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
}
.main__block-month {
  margin-top: 55px;
}
.main__block-month_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__block-month_name {
  font-size: 22px;
  line-height: 29px;
  color: #f0f6fa;
}
.main__block-month_date {
  margin-top: 5px;
  font-size: 16px;
  line-height: 17px;
  color: #f0f6fa;
}
.main__block-month_calendar {
  margin-top: 16px;
  margin-bottom: 50px;
  padding: 0 60px;
}
.main__block-month_dates {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
.main__block-month_content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  color: #f0f6fa;
}
.main__block-clock p {
  margin-top: 72px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.main__block-timer {
  max-width: 297px;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}
.main__block-timer_item {
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__block-timer_value {
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
}
.main__block-timer_border {
  border-right: 1px solid white;
  margin: 0 0 20px 0;
}
.main__block-timer_text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
.main__block .week {
  font-weight: 600;
}
.main__block .love {
  position: relative;
  z-index: 1;
}
.main__block .love .imgLove {
  width: 35px;
  z-index: -1;
  position: absolute;
  animation: imgLove 1s infinite ease-in-out;
}
@keyframes imgLove {
  0% {
    transform: scale(1);
    transform-origin: center center;
    transition-timing-function: ease-out;
  }
  10% {
    transform: scale(0.9);
    transition-timing-function: ease-in;
  }
  17% {
    transform: scale(0.95);
    transition-timing-function: ease-out;
  }
  33% {
    transform: scale(0.85);
    transition-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    transition-timing-function: ease-out;
  }
}

.info__block {
  color: #847070;
}
.info__block-wrapper_title {
  margin-top: 54px;
  font-size: 22px;
  text-align: center;
}
.info__block-wrapper_place {
  margin-top: 31px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__block-wrapper_time {
  font-size: 20px;
  line-height: 19px;
  margin-right: 18px;
}
.info__block-wrapper_subtime {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 259px;
}
.info__block-btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #847070;
  width: 200px;
  height: 54px;
  border: 1px solid #847070;
  background-color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
}

.dresscode__block {
  color: #847070;
}
.dresscode__block-title {
  margin-top: 42px;
  font-size: 22px;
  text-align: center;
}
.dresscode__block-descr {
  margin: 0 auto;
  margin-top: 15px;
  width: 333px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
.dresscode__block-img {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dresscode__block .photo-margin {
  margin-top: 81px;
}
.dresscode__block .photoTwo {
  margin-left: -10px;
}
.dresscode__block .photoThree {
  margin-top: -35px;
  margin-left: -92px;
}

.plan__block {
  color: #847070;
  padding: 10px 36px;
}
.plan__block-title {
  margin-top: 43px;
  font-size: 23px;
  text-align: center;
  margin-bottom: 30px;
}
.plan__block-wrapper {
  width: 300px;
  margin: 0 auto;
}
.plan__block-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  list-style-type: none;
  position: relative;
}
.plan__block-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan__block-lists li {
  font-family: "Alana Pro Rus", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 19px;
}
.plan__block-lists p {
  width: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 15px;
  font-size: 15px;
}
.plan__block-lists_border {
  margin: 0 auto;
  margin-left: 110px;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 45px;
  border-left: 1px solid #847070;
}
.plan__block .long {
  height: 81px;
}

.details__block {
  color: #847070;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.details__block-title {
  margin-top: 68px;
  font-weight: 300;
  font-size: 22px;
}
.details__block-descr {
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 307px;
}
.details__block-number {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.details__block-name {
  margin: 0 auto;
  margin-top: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.details__block-wrapp {
  width: 200px;
  height: 54px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #847070;
  border-radius: 30px;
  cursor: pointer;
}
.details__block-wrapp img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.guests__block {
  margin: 0 auto;
}
.guests__block-title {
  width: 298px;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  line-height: 24px;
  color: #847070;
}
.guests__block-form {
  display: flex;
  flex-direction: column;
}
.guests__block-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #847070;
  margin-top: 19px;
}
.guests__block-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #847070;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #847070;
  padding: 8px 8px 8px 0;
  outline: none;
}
.guests__block-input::-moz-placeholder {
  opacity: 0.4;
}
.guests__block-input::placeholder {
  opacity: 0.4;
}
.guests__block-check {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #847070;
  font-size: 15px;
  line-height: 18px;
  margin-top: 30px;
  margin-bottom: 13px;
}
.guests__block-form_wrapp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.guests__block-checkIn {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guests__block-radioBtn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #847070;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
  margin-left: 8px;
}
.guests__block-btn {
  width: 200px;
  height: 54px;
  border: 1px solid #847070;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #847070;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 405px) {
  .plan__block-lists li {
    font-size: 20px;
  }
  .plan__block-lists p {
    font-size: 13px;
  }
}