@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Vetrino Regular";
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Vetrino Regular";
  src: url("../fonts/vetrino.ttf");
}

@font-face {
  font-family: "Felidae";
  src: url("../fonts/felidae.ttf");
}

@font-face {
  font-family: "Alana Pro Rus";
  src: url("../fonts/alanaprorus.otf");
}

:root {
  --dataSize: 60px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 420px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid transparent;
  overflow: hidden;
  background: url("../img/background.png");
  background-size: 80%;
}

.noimg {
  background-image: none;
}

.header__block {
  &-img {
    text-align: center;
    margin-top: 64px;
  }
}
.fullscreen__block {
  margin-top: -85px;
  z-index: -1;
  color: #f0f6fa;
  .container {
    background-color: #847070;
    min-height: 100vh;
  }
  .arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 61px;
  }
  .arrow-down span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
    margin: 10px;
    animation: arrow-down 2s infinite;
  }
  .arrow-down span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrow-down span:nth-child(3) {
    animation-delay: -0.4s;
  }
  @keyframes arrow-down {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
}
.main__block {
  color: #ffffff;
  .container {
    background-color: #847070;
  }
  &-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 109px;
  }
  &-title {
    color: #f0f6fa;
    font-size: 35px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 10px;
  }
  &-date {
    color: #f0f6fa;
    font-size: 19px;
  }
  &-border {
    margin-right: 4px;
    border-right: 1px solid white;
  }
  &-descr {
    display: flex;
    align-items: center;
    flex-direction: column;
    &_title {
      font-size: 20px;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 30px;
    }
    &_subdescr {
      width: 308px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
    }
  }
  &-month {
    margin-top: 55px;
    &_wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &_name {
      font-size: 22px;
      line-height: 29px;
      color: #f0f6fa;
    }
    &_date {
      margin-top: 5px;
      font-size: 16px;
      line-height: 17px;
      color: #f0f6fa;
    }
  }
  &-month_calendar {
    margin-top: 16px;
    margin-bottom: 50px;
    padding: 0 60px;
  }
  &-month_dates {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
  &-month_content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    color: #f0f6fa;
  }
  &-clock {
    p {
      margin-top: 72px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 300;
      text-align: center;
    }
  }
  &-timer {
    max-width: 297px;
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
  }
  &-timer_item {
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-timer_value {
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
  }
  &-timer_border {
    border-right: 1px solid white;
    margin: 0 0 20px 0;
  }
  &-timer_text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
  .arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 61px;
  }
  .arrow-down span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
    margin: 10px;
    animation: arrow-down 2s infinite;
  }
  .arrow-down span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrow-down span:nth-child(3) {
    animation-delay: -0.4s;
  }
  @keyframes arrow-down {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
  .week {
    font-weight: 600;
  }
  .love {
    position: relative;
    z-index: 1;
    .imgLove {
      width: 35px;
      z-index: -1;
      position: absolute;
      animation: imgLove 1s infinite ease-in-out;
    }
  }

  @keyframes imgLove {
    0% {
      transform: scale(1);
      transform-origin: center center;
      transition-timing-function: ease-out;
    }
    10% {
      transform: scale(0.9);
      transition-timing-function: ease-in;
    }
    17% {
      transform: scale(0.95);
      transition-timing-function: ease-out;
    }
    33% {
      transform: scale(0.85);
      transition-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      transition-timing-function: ease-out;
    }
  }
}

.info__block {
  color: #847070;
  &-wrapper {
    &_title {
      margin-top: 54px;
      font-size: 22px;
      text-align: center;
    }
    &_place {
      margin-top: 31px;
      margin-bottom: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_time {
      font-size: 20px;
      line-height: 19px;
      margin-right: 18px;
    }
    &_subtime {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 13px;
      width: 259px;
    }
  }
  &-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #847070;
    width: 200px;
    height: 54px;
    border: 1px solid #847070;
    background-color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
  }
}

.dresscode__block {
  color: #847070;
  &-title {
    margin-top: 42px;
    font-size: 22px;
    text-align: center;
  }
  &-descr {
    margin: 0 auto;
    margin-top: 15px;
    width: 333px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }
  &-img {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo-margin {
    margin-top: 81px;
  }
  .photoTwo {
    margin-left: -10px;
  }
  .photoThree {
    margin-top: -35px;
    margin-left: -92px;
  }
}

.plan__block {
  color: #847070;
  padding: 10px 36px;
  &-title {
    margin-top: 43px;
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
  &-wrapper {
    width: 300px;
    margin: 0 auto;
  }
  &-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    list-style-type: none;
    position: relative;
  }
  &-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      font-family: "Alana Pro Rus", sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 19px;
    }
    p {
      width: 120px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      line-height: 15px;
      font-size: 15px;
    }
  }
  &-lists_border {
    margin: 0 auto;
    margin-left: 110px;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 45px;
    border-left: 1px solid #847070;
  }
  .long {
    height: 81px;
  }
}

.details__block {
  color: #847070;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  &-title {
    margin-top: 68px;
    font-weight: 300;
    font-size: 22px;
  }
  &-descr {
    margin: 0 auto;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 307px;
  }
  &-number {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
  }
  &-name {
    margin: 0 auto;
    margin-top: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
  }
  &-wrapp {
    width: 200px;
    height: 54px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #847070;
    border-radius: 30px;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
      margin-right: 9px;
    }
  }
}

.guests__block {
  margin: 0 auto;
  &-title {
    width: 298px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    line-height: 24px;
    color: #847070;
  }
  &-form {
    display: flex;
    flex-direction: column;
  }
  &-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #847070;
    margin-top: 19px;
  }
  &-input {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #847070;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #847070;
    padding: 8px 8px 8px 0;
    outline: none;
    &::placeholder {
      opacity: 0.4;
    }
  }
  &-check {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #847070;
    font-size: 15px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 13px;
  }
  &-form_wrapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &-checkIn {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-radioBtn {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #847070;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
    margin-left: 8px;
  }
  &-btn {
    width: 200px;
    height: 54px;
    border: 1px solid #847070;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #847070;
    font-size: 14px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 405px) {
  .plan__block-lists {
    li {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
  }
}
